[Unit]
Description=Ananbay Shipment Tracking Scheduler Application
After=syslog.target

[Service]
User=root
WorkingDirectory=/opt/tebexpressapi
ExecStart=/usr/local/go/bin/go run main.go shipment-tracking-scheduler --config-file=config.toml
SuccessExitStatus=143
Restart=on-failure
RestartSec=5s
ProtectSystem=full

[Install]
WantedBy=multi-user.target